/*!
 * Layout
 * Layout classes use the l- prefix to indicate they are layout classes.
 * @tutorial https://web.dev/learn/css/layout/
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-3/css-grids
 */

 body {
  background: #d11d05;
  color: white;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0;
}

h1 {
  font-size: 50px;
  margin: 50px;
}

footer {
  margin: 50px;
}
